h1 {
  background-color: #ff8;
}

form {
  margin: 1em;
  position: relative; left: 10%;
}

input[type = "text"], textarea {
  width: 200px;
  padding: 0.25em;
  box-sizing: border-box;
  border: 1px solid #555;
}

textarea {
  height: 5em;
}

input[type = "color"] {
  border: 1px solid #555;
}

input[type = "submit"], input[type = "reset"] {
  width: 75px;
  border: 1px solid #555;
}

.position {
  position: relative; left: 10%
}

hr {
  border-width: 1px;
  border-color: #222;
}
